{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
<section class="bar registration-background no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-uppercase">{{ .Site.Params.features.title }}</h3>
                <p class="lead">{{ .Site.Params.features.subtitle }}</p>
                <p class="text-center">
                    <a href="{{ .Site.Params.features.link_url }}" class="btn btn-template-transparent-black btn-lg">{{ .Site.Params.features.link_text }}</a>
                </p>
            </div>

        </div>
    </div>
</section>
{{ end }}
{{ end }}